<%= form_tag("/braintree/submit_trip_transaction/#{ @trip.id }", method: "POST", id: 'braintree-payment-form') do %>
<div class="form-group">
  <div><%= label_tag(:name, "Card Holder Name") %></div>
  <div><%= text_field_tag :name, @trip.contact_name, class: "form-control input-sm", autofocus: true %></div>
</div>
<div class="form-group">
  <div><%= label_tag(:number, "CC#") %></div>
  <div><%= text_field_tag :number,"", class: "form-control input-sm", size: 20 %></div>
</div>
<div class="form-group">
  <div><%= label_tag(:cvv, "cvv") %></div>
  <div><%= text_field_tag :cvv,"", class: "form-control input-sm", size: 4 %></div>
</div>
<div class="form-group">
  <div><%= label_tag(:month, "Month") %></div>
  <div><%= text_field_tag :month,"", class: "form-control input-sm", size: 2 %></div>
</div>
<div class="form-group">
  <div><%= label_tag(:year, "Year") %></div>
  <div><%= text_field_tag :year,"", class: "form-control input-sm", size: 4 %></div>
</div>

<div class="form-group">
  <div><%= label_tag(:zip, "Billing Code") %></div>
  <div><%= text_field_tag :zip,"", class: "form-control input-sm" %></div>
</div>

<h4>Total amount: $<%= @trip.total_price %></h4>

<div class="form-group">
  <div><%= radio_button_tag(:charge, true) %>&nbsp;<%= label_tag(:charge_true, "Charge now") %><br>
  <%= radio_button_tag(:charge, false, checked: true) %>&nbsp;<%= label_tag(:charge_false, "Charge later") %></div>
</div>

<%= submit_tag("Send Confirmation", class: "btn btn-md btn-primary") %>

<% end %>
<script src="https://js.braintreegateway.com/v1/braintree.js"></script>
<script>
var braintree = Braintree.create(<%= ENV["CSE_KEY"] %>);
braintree.onSubmitEncryptForm('braintree-payment-form');
</script>
