<div class="row">
  <%= form_for @trip, role: 'form' do |f| %>
    <div class="col-lg-5 col-md-5 col-sm-5">
      <p id="airport-tax" class="text-info">Please note that airport pickups will have a 4$ airport tax added to the total.</p>
      <div class="form-group"><div><%= f.label :trip_type, "Trip Information:" %></div>
      <%= select_tag :trip_type, options_for_select(@trip_types, @trip.trip_type), {class: "form-control required input-sm", onchange: "checkTripType(this.value)"}%></div>

      <div class="form-group"><%= select_tag :airport, options_for_select(@airports, @trip.airport), {class: "form-control required input-sm", onblur:"checkFormElementStatus()"} %>
      </div>

      <div class="form-group"><%= select_tag :rate_id, options_for_select(@rates, @trip.rate_id), {class: "form-control required input-sm", onblur:"checkFormElementStatus()"} %>
      </div>

      <div class="form-group"><%=select_tag :hours, options_for_select(@hours, @trip.hours.to_f), {class: "form-control required input-sm", onblur:"checkFormElementStatus()"} %></div> 
      <div class="form-group">
        <%= select_tag :car_id, options_for_select(@cars, @trip.car_id), {class: "form-control required input-sm", onblur:"checkFormElementStatus()"} %>
      </div>

      <div class="form-group">
        <%= select_tag :number_of_passengers, options_for_select(@passengers, @trip.number_of_passengers), {class: "form-control required input-sm", onblur:"checkFormElementStatus()"} %>
      </div>

      <div class="form-group"><div><%= f.label :pickup_time, "Pickup Date & Time" %></div>
      <%= f.datetime_local_field :pickup_time, class: "form-control required input-sm", onblur:"checkFormElementStatus()" %></div>
      <div class="form-group"><div><%= f.label :pick_up, "Pick up information" %></div>
      <%= f.text_field :pick_up, class: "form-control required input-sm", placeholder: "e.g. 1 S. Dearbord Chicago IL 60001 or American Airlines 170 ", onblur:"checkFormElementStatus()" %></div>

      <div class="form-group"><div><%= f.label :drop_off, "Drop off information" %></div>
      <%= f.text_field :drop_off, class: "form-control required input-sm", placeholder: "e.g. 1 S. Dearbord Chicago IL 60001 or American Airlines 170 ", onblur:"checkFormElementStatus()" %></div>
    </div>

    <div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1">
      <div class="form-group"><div><%= f.label :contact_first_name, "Contact First Name" %></div>
      <%= f.text_field :contact_first_name, class: "form-control required input-sm", onblur:"checkFormElementStatus()" %></div>

      <div class="form-group"><div><%= f.label :contact_last_name, "Contact Last Name" %></div>
      <%= f.text_field :contact_last_name, class: "form-control required input-sm", onblur:"checkFormElementStatus()" %></div>


      <div class="form-group"><div><%= f.label :contact_email, "Email" %></div>
      <%= f.email_field :contact_email, class: "form-control required input-sm", onblur:"checkFormElementStatus()" %></div>

      <div class="form-group"><div><%= f.label :contact_phone, "Phone" %></div>
      <%= f.telephone_field :contact_phone, class: "form-control required input-sm", onblur:"checkFormElementStatus()" %></div>

      <div class="form-group"><div><%= f.label :description, 'Anything else that we should know' %></div>
      <%= f.text_area :description, cols: 40, rows: 4, class: "form-control input-sm", onblur:"checkFormElementStatus()"%></div> 
      <div class="form-group"><div><%= f.label :driver_information %></div>
      <%= f.text_area :driver_information, cols: 40, rows: 4, class: "form-control input-sm", onblur:"checkFormElementStatus()"%></div>
    </div>

    <div class="row"> 
      <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3"><%= submit_tag "Update Reservation", class: "btn btn-default btn-lg", id: "trip-button" %></div>
    </div>
  <% end %>
</div>
