<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Pick up Date/Time</th>
        <th>From</th>
        <th>Destination</th>
        <th>Contact name</th>
      </tr>
    </thead>
    <tbody>
      <% @trips.each do |trip| %>
          <tr>
            <td><%= trip.id %></td>
            <td><a href="<%= user_trip_path(trip.user_id, trip.id) %>"><%= trip.pickup_time.strftime("%a %b/%e/%Y - %T") %></a></td>
            <td><%= trip.pick_up %></td>
            <td><%= trip.drop_off %></td>
            <td><%= trip.contact_name %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>