<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  <div class="well shaddowed">
    <h2>Personal Information:</h2>
    <div class="row">
      <div class="col-lg-6">
        <div class="table-responsive">
          <table class="table">
            <tr>
              <td>Name: </td><td><%= @user.name%></td>
            </tr>
            <tr>
              <td>Email: </td><td><%= @user.email %></td>
            </tr>
            <tr>
              <td>Phone number:</td><td><%= @user.phone %></td>
            </tr>
            <% if @user.has_payment_information %>
              <tr>
                <td>Card on file:</td><td><%="*****#{@user.cc_last_four}" %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
      <div class="col-lg-6">
        <%= link_to "Edit Info", edit_user_registration_path, class: "btn red-button" %>
      </div>
    </div>
    <p>List of <%= link_to "Booked Trips", user_trips_path(@user) %></p>
    <% if @user.has_payment_information %>
      <%= link_to "Change Card On File", add_customer_information_path(@user), class: "btn btn-primary" %>
    <% else %>
      <p class="bg-danger">You have no payment information on file yet.</p>
      <%= link_to "Add Payment Information", add_customer_information_path(@user), class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
