<div class="col-lg-8">
  <div class="well sidebar-nav" align="center">
    <p>Content goes here</p>

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag("bmw.jpeg") %>
          <div class="carousel-caption">
            <p>Text for bmw</p>
          </div>
          <p>text outside bmw</p>
        </div>

        <div class="item">
          <%= image_tag("lincoln.jpeg") %>
          <div class="carousel-caption">
            <p>text for lincoln</p>
          </div>
          <p>Text outside lincoln</p>
        </div>

        <div class="item">
          <%= image_tag("suburban.jpeg") %>
          <div class="carousel-caption">
            <p>text for suburban</p>
          </div>
          <p>Text outside suburban</p>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
    <p>Content that doesn't move. Make images the same size.</p>
  </div>
</div>

<div class="col-lg-3 col-lg-offset-1">
  <div class="well sidebar-nav" id="rate-finder" align="center">
    <h3>Find Rate Here</h3>
    <%= form_tag(new_trip_from_generator_path, method: "GET", role: 'form', id: "instant-quote") do  %>
      <div class="form-group"><%= select_tag :trip_type, options_for_select(@trip_types), {class: "form-control input-sm", onchange: "typeSelection(this)"}%>
      </div>

      <div class="form-group"><%= select_tag :airport, options_for_select(@airports), {class: "form-control input-sm", onchange: "setSelection('airport', this)"} %>
      </div>

      <div class="form-group"><%= select_tag :rate_id, options_for_select(@rates), {class: "form-control input-sm", onchange: "setSelection('rateId', this)"} %>
      </div>

      <div class="form-group"><%=select_tag :hours, options_for_select(@hours), {class: "form-control input-sm", onchange: "setSelection('hours', this)"} %></div> 
      <div class="form-group">
        <%= select_tag :car_id, options_for_select(@cars), {class: "form-control input-sm",onchange: "setSelection('carType', this)" } %>
      </div>

      <div class="form-group"><%= submit_tag "Book now" , id: "generator-button", class: "btn btn-default btn-lg hidden" %></div>
    <% end %>

    <div class="price-response"></div>
  </div>
</div>

<script type="text/javascript">
var checker = new FormChecker();
  $("#hours").hide();
</script>
