<div class="row">
  <div class="col-lg-3 col-md-5 col-sm-6 col-xs-9">
    <%= form_tag("/rates/quote", method: "GET", role: 'form') do  %>
      <div class="form-group"><%= select_tag :trip_type, options_for_select(@trip_types), {class: "form-control input-sm"}%>
      </div>

      <div class="form-group"><%= select_tag :airport, options_for_select([["Choose an Airport", 0], ["Chicago O'hare (ORD)", 1], ["Chicago Midway (MDW)", 2]]), {class: "form-control input-sm"} %>
      </div>

      <div class="form-group"><%= select_tag :city_id, options_for_select(@rates), {class: "form-control input-sm"} %>
      </div>
      
      <div class="form-group">
        <%= select_tag :car_type, options_for_select(@cars), {class: "form-control input-sm"} %>
      </div>
      <div class="form-group"><%= submit_tag "Request quote", class: "btn btn-default btn-sm" %></div>
    <% end %>
  </div>
</div>