<!DOCTYPE html>
<html>
<head>
  <title>SpartanLimo</title>
  <meta name="description" content="SpartanLimousine offers very competitive rates for high quality limousine service. We Serve Chicago O'Hare International Airport ORD, Chicago Midway International Airport MDW. We cover all the areas from downtown Chicago to all the Chicago suburbs. Whether it is a trip to or from a Chicago airport, a corporate event, a trip to one of the many casinos, or it is one of the special days of your life such as a wedding, prom, graduation, or birthday, Spartan Limousine is here to serve all your transportation need. Your satisfaction is important to us.
">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <%= render "layouts/nav" %>

  <div class="container">
    <div class="row">
      <% if flash[:notice] %>
        <div class="col-lg-8 col-lg-offset-2">
        <div class="alert alert-success fade in">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <p class><%= notice %></p>
          <% flash[:noice] = nil %>
        </div>
      </div>
    <% elsif flash[:alert] %>
        <div class="col-lg-8 col-lg-offset-2">
        <div class="alert alert-danger fade in">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <p><%= alert %></p>
          <% flash[:alert] = nil %>
        </div>
      </div>
    <% end %>
      <%= yield %>
    </div>
  </div>

  <div id="footer" align="center"> 
    <%= render "layouts/footer" %>
  </div>
  <!-- Modal -->
  <%= render "layouts/modal_about_us" %>
  <%= render "layouts/modal_contact" %>
</div>
</body>
</html>
