<!DOCTYPE html>
<html>
<head>
  <title>SpartanLimo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/nav" %>

  <div class="container">
    <div class="row">
      <% if flash[:notice] %>
        <div class="col-lg-8 col-lg-offset-2">
          <div class="well sidebar-nav">
            <p class="text-success"><%= notice %></p>
            <% flash[:noice] = nil %>
          </div>
        </div>
      <% elsif flash[:alert] %>
        <div class="col-lg-8 col-lg-offset-2">
          <div class="well sidebar-nav">
            <p class="text-danger"><%= alert %></p>
            <% flash[:alert] = nil %>
          </div>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </div>

</body>
</html>
